{% extends "base.html" %}

{% block title %}Généalogie{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('calc_age_at') }}">Âge à un évènement: <i>Calcule l'âge en année(s), mois et jour(s), selon la date de naissance et la date de l'évènement</i></a></li><br>
            <li><a href="{{ url_for('reverse_age') }}">Calcul de la date de naissance: <i>Calcule la date de naissance selon la date d'un évènement et l'âge en année(s), mois et jour(s) à cette date.</i></a></li><br>
        </ul>
    </div>
</div>
{% endblock %}

